.container{
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
  }

  mat-form-field{
    width: 100%;
  }

  .mat-stroked-button {
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.336);
    margin-bottom: 1rem;
}

  h1{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .edit{
    color: rgba(29,19,212,1);
    margin-right: .5rem;
  }

  .delete{
      color: rgba(255, 19, 19, 1);
  }

  mat-radio-group{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }