<div class="container">
    <form class="form">

        <h1 class="fullWidth">Cadastrar Técnico</h1>
        <img class="fullWidth" src="assets/img/tecnico-create.svg" alt="Imagem de cadastro de Tecnico">

        <section class="section">
            <mat-checkbox class="margin">Admin</mat-checkbox>
            <mat-checkbox class="margin">Técnico</mat-checkbox>
            <mat-checkbox class="margin">Cliente</mat-checkbox>
        </section>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Exemplo">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        </mat-form-field>


        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        </mat-form-field>

    </form>
</div>